<link rel="stylesheet" href="~/css/site.css" />

@model List<ReleaseReminder.Models.Reminder>

@{
    ViewData["Title"] = "Your Reminders";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form id="myForm" method="post" enctype="multipart/form-data">

    <div class="table_edit">
        <table id="formTable">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Category</th>
            </tr>
            @{
                foreach (var app in Model)
                {

                <tr>
                    <td>@app.Title</td>
                    <td>
                        @foreach (var y in app.Genres)
                            {

                        @y
                        <br />

                            }
                    </td>

                    <td>@app.ReleaseDate.ToString("MM-dd-yyyy")</td>
                    <td>@app.Category</td>
                </tr>

                }
            }

        </table>
    </div>
</form>
<script src="~/js/tableColor.js"></script>