@model List<ReleaseReminder.Models.Reminder>

@{
    ViewData["Title"] = "Add New Reminders";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form id="myForm" method="post" enctype="multipart/form-data">
    <div class="row">

   


        <div class="col-sm-6">

            <label for="mediaType">Media Type: </label>
            <select name="mediaType" class="form-control" onchange="mediaSelect(this)">
                <option value="All">All</option>
                <option value="Movies">Movies</option>
                <option value="Music">Music</option>
                <option value="VideoGames">Video Games</option>
                <option value="Books">Books</option>
                <option value="Television">Television</option>
            </select>

            <div class="form-group">
                <label for="title">Title: </label>
                <input type="text" class="form-control" name="appName" required />
            </div>


            <div class="form-group">
                <label id="creatorLabel" for="Genre1">Genre1: </label>
                <select name="creator" class="form-control">
                    <option value="Select a Type of Media...">Select a Type of Media...</option>
                </select>
            </div>

            <div class="form-group">
                <label id="creatorLabel" for="Genre2">Genre2: </label>
                <select name="creator" class="form-control">
                    <option value="Select a Type of Media...">Select a Type of Media...</option>
                </select>
            </div>

            <div class="form-group">
                <label id="creatorLabel" for="Genre3">Genre3: </label>
                <select name="creator" class="form-control">
                    <option value="Select a Type of Media...">Select a Type of Media...</option>
                </select>
            </div>

        </div>
     
    </div>

    <!--    <button type="submit" form="appNew" value="Submit">Submit</button> -->
    <div class="table_edit">
        <table id="formTable">
            <tr>
                <th>Selected</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Category</th>
            </tr>
            @{
                foreach (var app in Model)
                {

            <tr>
                <td><input type="checkbox" name="eachCheckbox" value="unchecked" /></td>
                <td>@app.Title</td>
                <td>
                    @foreach (var y in app.Genres)
                    {

                        @y
                        <br />

                    }
                </td>

                <td>@app.ReleaseDate.ToString("MM-dd-yyyy")</td>
                <td>@app.Category</td>
            </tr>

                }
            }

        </table>
    </div>
</form>
<input type="button" onclick="selectedData()" class="btn-success" value="Save"/>